body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  background: #020617;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: cyan;
}

.btn {
  background: cyan;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.btn-outline {
  border: 1px solid cyan;
  padding: 10px 20px;
  color: cyan;
  text-decoration: none;
}

.section {
  padding: 50px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: cyan;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
